div {
    border: 1px solid red;
    margin: 5px 0px;
    padding: 5px;
}

h4 {
    background-color: rgb(185, 123, 194);
}

li {
    /* list-style: none; */
    text-decoration: underline;
    text-decoration-color: #3fda6e;
}