@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*, 
*::before,
*::after
{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* main styles */
.main-div {
    width: 90%;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(161, 148, 148);
    box-shadow: 5px 5px 5px rgb(128, 123, 123);
}

/* form elements */
input, 
textarea {
    font-family: inherit;
    font-size: inherit;
}

input[type="text"], 
input[type="email"] {
    margin: 8px;
    padding: 5px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid;
    border-radius: 4px;
}

select {
    padding: 10px;
    width: 45%;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid;
    border-radius: 4px;
}

/* row, col */
.row {
    padding: 10px;
    width: 100%;
    display: flex;
}

.col {
    width: 45%;
}

.col .control-label {
    display: inline-flex;
    font-weight: 600;
    width: 25%;
}

.col .control-label::after {
    content: ":";
}

.col .field-control {
    display: inline-grid;
}

.field-control span {
    font-size: 13px;
    margin-left: 8px;
    color: #f00;
}

.radio-control {
    position: relative;
    padding-left: 5%;
    cursor: pointer;
}

.radio-control input {
    opacity: 0;
}

.radio-control span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 20px;
    border: 1px solid #000;
}

.radio-control input:checked + span {
    background-color: #219;
}

.radio-control span::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: #fff;
    display: none;
}

.radio-control input:checked + span::after {
    display: block;
}

.control-checkbox {
    position: relative;
    padding-left: 5%;
    cursor: pointer;
}

.control-checkbox input {
    opacity: 0;
}

.control-checkbox span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #000;
}

.control-checkbox input:checked + span {
    background-color: #219;
}

.control-checkbox span::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
    border: 1px solid #000;
    display: none;
    transform: rotate(45deg);
}

.control-checkbox input:checked + span::after {
    display: block;
}

input[type="submit"], 
input[type="reset"] {
    padding: 10px;
    background-color: #4ca;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
}

input[type="submit"]:hover, 
input[type="reset"]:hover {
    background-color: #219;
}
